body {
    // background-color: $secondary-colour;
    background-image: url(/assets/background.jpg);
    background-position: center;
    background-size: cover;
    font-size: 125%;

    h1 {
        color:$primary-colour;
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    h2 {
        font-style: italic;
        color: $secondary-colour;
        margin: 0;
        font-size: 1.8rem;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .wrapper {
        max-width: 1280px;
        width: 85%;
        margin: 0 auto;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-colour;
    margin-top: 50px;

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: rgb(243, 173, 253);
        padding: 10px;
        text-shadow: 0.1px 0.1px white;
    }
}
