.gameboard {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;

    .tile {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        display: flex;
        margin: 10px;
    }
}