.box {
    width: 200px;
    height: 200px;
    position: relative;

    .image-container,
    .inactive {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 2s;
        backface-visibility: hidden;
    }
    .image-container {
        // transform: perspective(1000px) rotateY(0deg);
        z-index: 3;
    }

    img {
        object-fit: cover;
        border-radius: 10px;
        z-index: 3;
    }

    .back,
    .inactive {
        background-color: navy;
        // transform: perspective(1000px) rotateY(180deg);
        z-index: 2;
        border-radius: 10px;
    }

    
    .active {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 1;
    }
}

